body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('4561977.jpg');
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-placeholder {
    margin-bottom: 10px;
    text-align: center;
    width: auto;
}

.vote-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f96902;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* アンダーバーを消す */
}

.vote-button:hover {
    background-color: #333;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.top-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-button:hover {
    background-color: #333;
}

.pagination {
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #333;
}

.page {
    display: none;
}

.link-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover {
    background-color: #0056b3;
}

@media screen and (min-width: 641px) and (max-width:980px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .image-placeholder {
        width: auto;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .image-placeholder {
        width: auto;
        text-align: center;
    }
}